
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="resources/dijit/themes/tundra/tundra.css" >


    <!-- Леха накидал тут -->
    <link rel="stylesheet" href="resources/css/style.css">
    <link rel="stylesheet" href="resources/css/bootstrap.min.css">

    <script src="resources/js/bootstrap.min.js"></script>



    <script> dojoConfig = {parseOnLoad: true}</script>
    <script src='resources/dojo/dojo.js'></script>

    <!--<style class="igm"> body{-->
    <!--background-color:black;-->
    <!--}-->
    <!--</style>>-->
</head>
<body class="tundra">
<div class="content">

    <h2 align="center">Анкета</h2>
    <b><p>Инструкция</p></b>

<div class="description">
    <p>Вам предложено несколько вопросов, выражающих разнообразные чувства, которые Вы может испытывать к нашей компании.
        Определите свои собственные чувства. Для этого выберите приведенный вариант:
    </p>
    <ul>
        <li>1 - Абсолютно не согласен;</li>
        <li>2 - В чем-то не согласен;</li>
        <li>3 - Затрудняюсь ответить;</li>
        <li>4 - Согласен до некоторой степени;</li>
        <li>5 - полностью согласен;</li>
    </ul>
</div>
<script>

    dojo.require("dijit.form.Button");
    dojo.require("dijit.form.TextBox");
    dojo.require("dijit.form.CheckBox");

    require(['dijit/registry'],function sendForm(registry){
        var form = dojo.byId("myform");

        dojo.connect(form, "onsubmit", function(event){
            // Stop the submit event since we want to control form submission.
            dojo.stopEvent(event);
            var xhrArgs = {
                form: dojo.byId("myform"),
                url:"table",
                handleAs: "text",
                load: function(data){
                    dojo.byId("response").innerHTML = "Спасибо за прохождение теста!";

                    registry.byId('submitButton').set('disabled', true);
                },
                error: function(error){
                    dojo.byId("response").innerHTML = "Ваш результат не отправлен. Произошла ошибка " + error;
                }
            };
            // Call the asynchronous xhrPost
            dojo.byId("response").innerHTML = "Отправляем...";
            var deferred = dojo.xhrPost(xhrArgs);
        });
    });
    dojo.ready(sendForm);
</script>

    <div class="form_cont">
    <form action="/table" id="myform">
        <table border="1">
            <tr>
                <th class="number">№</th>
                <th class="question">Вопрос</th>
                <th class="answer">Ответ</th>
            </tr>
            <tr th:each="questionInfo : ${allQuestion}">
                <td th:utext="${questionInfo.id}"></td>
                <td th:utext="${questionInfo.question}"></td>

                <td>
                    <select name="variable">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </td>
            </tr>

        </table>
        <input type="hidden" name="department" value="1">
      <center> <button data-dojo-type="dijit/form/Button" type="submit" id="submitButton" >Отправить</button></center>
    </form>
</div>
<div id="response"></div>
</div>
</body>
</html>

